/* Repository */
.repository {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-right: 4px;

  background: var(--base-card);
  border-radius: 8px;
}
.repository > div {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 160%;
  font-weight: 700;
  color: var(--base-title);
}
.iconButton {
  background: transparent;
  border: none;
  line-height: 0;
}

.infoRepository {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.infoRepository strong {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;

  color: var(--base-title);
}
.infoRepository div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.infoRepository div span {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 2px;

  color: var(--base-title);
}
.iconButton .likeIcon {
  color: var(--base-description);
  cursor: pointer;
}
.iconButton .likeIcon:hover {
  color: var(--brand-blue);
  transition: 1s color;
}

.avatar {
  object-fit: cover;

  width: calc(3rem + 12px);
  height: calc(3rem + 12px);

  border-radius: 8px;
  border: 4px solid var(--base-container);
  outline: 2px solid var(--brand-blue);
}

.iconButton .trashIcon {
  color: var(--base-description);
  cursor: pointer;
}
.iconButton .trashIcon:hover {
  color: var(--brand-red);
  transition: 1s color;
}
/* Repository */