.container {
  height: 100vh;
  display: flex;
  align-items: center;
  
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 28rem;
  max-height: 28rem;
  background: var(--base-container);
  border-radius: 8px;

  padding: 1rem ;

  gap: 1rem;
}

.gridRepositories{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Footer */
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}
.form input {
  width: 100%;
  background: var(--base-background);
  border-radius: 8px;
  border: 1px solid var(--brand-blue);
  height: 3rem;
  padding: 1rem;
  color: var(--base-description);
}
.form input:focus {
  border: 1px solid var(--brand-blue);
}
.form button[type="submit"]{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-blue);
  border-radius: 8px;  
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 3.5rem;
}
.form button[type="submit"]:disabled {
  cursor: not-allowed;
}
.form button[type="submit"]:hover {
  opacity: 0.9;
}
.form button[type="submit"] svg {
  color: var(--base-title);
}
/* Footer */

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .content {
    width: 20rem;
  }
}
